@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  
  background-image: url("C:\Users\ryanc\workspace\precision-fretworks\src\backgroundImage\iStock-496494356.jpg");
  background-size: contain; /* This will make the image cover the entire element */
  background-position: 60% center; /* This will center the image within the element */
  background-repeat: no-repeat; /* This will prevent the image from repeating */
  height: 100vh; 
  overflow-y: scroll
 
}


.trash {
  color: rgb(237, 13, 13);

}



.trash:hover {
  color: rgb(234, 97, 97);
  transition: .2s;
  transform: scale(1.2)
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
/* Rounded sliders */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 25px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-form {
  position: relative;
  display: inline-block;
  width: 88px;
  height: 25px;
}

/* Hide default HTML checkbox */
.switch-form input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2563eb;
}

input:focus + .slider {
  box-shadow: 0 0 1px #064375;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 28px;
}

.slider.round:before {
  border-radius: 50%;
}
/* -------------------------------- */

::-webkit-scrollbar {
  width: 1px; /* Adjust the width as needed */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Customize the thumb color */
  border-radius: 3px; /* Adjust the border-radius as needed */
}

.custom-border {
  border: 1px solid transparent; /* Add a transparent border */
  backdrop-filter: blur(50px); /* Adjust the blur strength as needed */
  border-radius: 8px; /* Adjust the border radius as needed */
}

.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.message-popup {
  position: fixed;
  top: 65%;
  left:64%;
  
  transform: translate(-50%, -50%);
  background-color: rgba(74, 85, 104, 0.8);
  padding: 60px;
  border-radius: 10px;
  z-index: 1000;

}

.section {
  background-color: black;
}

.popup-active .message-popup {
  opacity: 1;
}

.fade-in {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade-in.active {
  opacity: 1;
}

.transition-transform {
  transition-property: transform;
  transition-duration: 300ms; /* Adjust the duration as needed */
}

.scale-0 {
  transform: scale(0);
}

.scale-100 {
  transform: scale(1);
}

.completed-repair {
  transition: transform 0.9s ease-in-out; /* Adjust the duration and easing as needed */
}